<div class="wrapper">

  <img class="bgd" src="assets/bgd/bgd.png">

  <section class="about">
    <h3>O NAMA</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusamus,
      quo magnam eum obcaecati culpa, cupiditate animi dolorum omnis eveniet ad
      tempore iusto laboriosam. Sed natus consectetur vel sunt et.
    </p>
    <button mat-stroked-button routerLink="/meni">MENI</button>
  </section>

  <section class="flip-card__wrapper">
    <div class="flip-card">
      <div class="flip-card-inner" #flipElem>
        <div class="flip-card-front"><img class="flip-card__img" #imgFront></div>
        <div class="flip-card-back"><img class="flip-card__img" #imgBack></div>
      </div>
    </div>
  </section>

</div>

<app-footer></app-footer>