.category {
  background-color: #212121;
  margin: 1em;
  padding: 1em;
  box-sizing: border-box;
}

mat-form-field {
  width: 320px;
  margin: 0 1em;
}

.progress-bar--wrapper {
  height: 4px;
}