<footer class="footer">

  <section class="footer__map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2831.920205635323!2d20.388037315896266!3d44.7824320790988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a6f8263451d4f%3A0xe1d9b68ac2097590!2sGALINO%20BEACH%20BAR!5e0!3m2!1sen!2srs!4v1600271925407!5m2!1sen!2srs"
      width="320"
      height="240"
      loading="lazy"
      frameborder="0"
      style="border:0;"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0">
    </iframe>
  </section>

  <section class="footer__contact">

    <section class="contact__item">
      <div class="contact__item__icon"><i class="fas fa-map-marker-alt"></i></div>
      <p>Ada Ciganlija, Makiška strana lokal br. 8</p>
    </section>

    <section class="contact__item">
      <div class="contact__item__icon"><i class="fas fa-phone"></i></div>
      <p>065 234 02 38 | 060 034 02 38</p>
    </section>

    <section class="contact__item">
      <div class="contact__item__icon"><i class="fas fa-envelope"></i></div>
      <p>galino@gmail.com</p>
    </section>

  </section>

</footer>